*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav  {
    background: #fff;
    padding: 40px 32px 40px 60px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        max-width: 1440px;
        margin: 0 auto;

        .nav-left {
            display: flex;
            gap: 64px;

            h1 {
                font-weight: 700;
                font-size: 32px;
                color: #3563E9;
                letter-spacing: 1px;

            }

            .inpt-c {
                padding: 10px 20px;
                border: 1px solid rgba(195, 212, 233, 0.4);
                border-radius: 70px;
                display: flex;
                gap: 20px;
                align-items: center;
                width: 492px;
               

                input {
                    flex: 1;
                }
            }
        }

        .nav-right {
            display: flex;
            align-items: center;
            gap: 20px;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                opacity: 0.8;
            }
        }
    }

}
 
.nav-left .input-c .input{
    flex: 1;
}

.body {
width: 100%;
height: 2120px;
top: 124px;
background: #f6f6f6;
}
 
 
 
  
 
 
 
 
 
 
 
 
 
 
 
 /* 
 .body{
    background: #863333;
 }
 nav .container{
    background: #fff;
    padding: 40px 32px 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }


.nav{
    display: block;
  
}

.nav-left > .input-c{
   
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 70px;
    padding: 10px 20px;
    width: 492px;
}
.nav-left{
    display: flex;
    gap: 64px;
    align-items: center;
}
.nav-left h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 1px;
    color: #3563e9;
} 
 */